# Node modules (these will be installed in the container)
node_modules

# Local development logs
logs
*.log

# Dependency caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*



# Build output
dist
build

# Docker files and configurations
Dockerfile
docker-compose.yml


